<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('./partials/head') %>
    <title>Signin</title>
</head>

<body>

  <%- include('./partials/nav') %>




    <div class="container mt-5 d-flex justify-content-center">
      <div class="card p-4 p-md-5 shadow-lg w-100" style="max-width: 500px;">
        <h2 class="text-center text-primary mb-4 fw-bold">Sign In</h2>
        <form action="/user/signin" method="post">

          <div class="mb-4">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              required>
          </div>
          <div class="mb-4">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
          </div>

          <button type="submit" class="btn btn-primary w-100 py-2 fs-5">Sign In</button>
          <div class="text-center mt-3">
            <span class="text-muted">Don't have an account?</span> <a href="/user/signup"
              class="text-primary text-decoration-none">Sign Up</a>
          </div>
        </form>
      </div>
    </div>



    <%- include('./partials/scripts') %>

</body>

</html>