<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('./partials/head') %>
    <title>SignUp</title>
</head>

<body>

  <%- include('./partials/nav') %>




    <div class="container mt-5 d-flex justify-content-center">
      <div class="card p-4 p-md-5 shadow-lg w-100" style="max-width: 500px;">
        <h2 class="text-center text-primary mb-4 fw-bold">Create Account</h2>
        <form action="/user/signup" method="post">
          <div class="mb-4">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullName" name="fullName" aria-describedby="fullName" required>
          </div>
          <div class="mb-4">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              required>
            <div id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-4">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
          </div>

          <button type="submit" class="btn btn-primary w-100 py-2 fs-5">Sign Up</button>
          <div class="text-center mt-3">
            <span class="text-muted">Already have an account?</span> <a href="/user/signin"
              class="text-primary text-decoration-none">Sign In</a>
          </div>
        </form>
      </div>
    </div>



    <%- include('./partials/scripts') %>

</body>

</html>